*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    /* background-color: black; */
}
main{
    overflow: auto;
    background-color: hsl(0, 100%, 74%);
    background-image: url("bg-intro-desktop.png");
    background-blend-mode: overlay;
    min-height: calc(100vh - 40px);
    margin-top: 5vh;
}

.container{
    
    /* margin: 6% auto;
    /* padding: 50px; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    height: 75vh;
    align-items: center;  */
    height: inherit;
    width: 55%;
    margin: 15vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    padding: 2.3em;
    color: white;
    flex: 1;    
}

.text h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700px;
    line-height: 1.1;
    color: #fafaf5;
    /* color: #d9d9d6; */
}
.text p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 11px;
    margin-top: 20px;
    color: #d9d9d6;
}

.second{
   flex: 1;
}
.second .button-second{
    background-color: hsl(248, 32%, 49%);
    text-align: center;
    margin-bottom: 15px;
    color: white;
    border-radius: 5px;
    width: 100%;
    border: none;
    box-shadow: 0px 4px #d3676f;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px;
    padding: 10px 25px 10px 25px;
}
.second .button-second span{
    font-weight: lighter;
}
.label-second{
    background-color: hsl(248, 32%, 49%);
    height: 6vh;
    padding: 10px 60px;
    border-radius: 4px;
    color: #d9d9d6;
    box-shadow: 1px 5px hsl(325deg 27% 52%);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.form-second .form{
    background-color: white;
    padding: 1.2em;
    border-radius: 5px;
    box-shadow: 0px 4px #b9595a;
    text-align: right;
    /* width: 100%; */
}
.form-second table, td{
    width: 100%;
}

.form input{
    width: inherit;
    text-align: left;
    margin: 10px 0px 0px 0px;
    border-radius: 5px;
    border: 2px solid #f6f6f6;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 10px;
    padding: 10px 25px 10px 25px;

}
.form input:focus{
    border: 1px solid hsl(249, 10%, 26%);
    outline: none;
}
.form input:invalid{
    border: 1px solid hsl(0, 100%, 74%);
    outline: none;
    background-image: url("icon-error.svg");
    background-size: 6%;
    margin-right: 10px;
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

.form input:invalid + span[data-error]::after{
    content: attr(data-error);
    color: red;
    font-size: 10px;
    font-family: "Poppins", sans-serif;

}

#submit{
    -webkit-appearance: none;
    text-align: center;
    background-color: hsl(154, 59%, 51%);
    color:white;
    border: 1px ridge white;
    border: 0.5px solid;
    border-radius: 5px;
}
.form p{
    font-weight: 300;
    font-size: 8px;
    text-align: center;
    color: #d9d9d6;    
}

a{
    text-decoration: none;
}


@media screen and (max-width: 395px) {
    main{
        background-image: url("bg-intro-mobile.png");

    }
    .container{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container .text{
        text-align: center;
        padding: 1.3em;
    }
    .container .text p{
        text-align: center;
        font-size: 16px;
        line-height: 1.5em;
        padding-bottom: 1.7em;
    }
}
